@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #edeaff;
    background-image: linear-gradient(to right, rgb(0, 74, 104), rgb(0, 99, 44));
    height: 100vh;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    border: 1px solid #fff;
    background-image: url(img/the-background4.png);
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    text-align: center;
    justify-content: center;
    padding: 90px 0;
    color: #fff;
    margin: 200px auto; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainButton {
    height: 100px;
}

.sideButton {
    height: 70px;
}

.buttons img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttons img:hover {
    transform: scale(1.1);
}