@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #edeaff;
    background-image: linear-gradient(to right, rgb(0, 74, 104), rgb(0, 99, 44));
    height: 100vh;
    overflow: hidden;
}

:root { 
    --green1: hsla(120, 100%, 93%, 0.664);

}

.offscreen-tracker {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%, 0.8);
    padding: 20px;
    border-radius: .5rem;
    width: 100%;
    margin: auto;
    position: absolute;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
}

.offscreen-tracker input {
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    background-color: hsl(0, 0%, 100%, 0);
    border: 1px solid hsl(0, 0%, 100%, 0);
    border-bottom: 1px solid white;
    color: #fff;
    margin-left: 10px;
}



.offscreen-menu {
    background-color: hsl(214, 43%, 45%);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    border: 1px solid hsl(0, 0%, 100%, 0.5);
    color: #fff;

}

.offscreen-menu.active {
    right: 0;
}

.offscreen-menu ul {
    list-style-type: none;
}

/* Switch */

.switch {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2e9b20;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.theSwitch {
    display: flex;
    align-items: center;
}

.switch-text {
    margin-left: 20px;
     
    font-size: 25px;
    color: white;
}


nav {
    padding: 1rem;
    display: flex;
    background-color: hsl(0, 0%, 20%, 0.7);
    border-radius: 25px;
}

.ham-menu {
    display: block;
    width: 30px;
    height: 20px; 
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%; 
    background-color: #fff;
    border-radius: 25px; 
    transition: background-color 0.3s ease; 
}

.ham-menu span:nth-child(1) { top: 0; }
.ham-menu span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.ham-menu span:nth-child(3) { bottom: 0; }

.ham-menu:hover span {
    background-color: hsl(165, 78%, 39%);
}


.stopwatch {
    width: 90%;
    max-width: 600px;
    border: 1px solid #fff;
    background-image: url(img/the-background4.png);
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    text-align: center;
    justify-content: center;
    padding: 90px 0;
    color: #fff;
    margin: 200px auto; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainButton {
    height: 100px;
}

.sideButton {
    height: 70px;
}

.buttons img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttons img:hover {
    transform: scale(1.1);
}

.offscreen-tracker .close {
    font-size: 3rem;
    display: absolute;
    margin-right: -50px; 
    margin-bottom: 250px;
    padding: 0 1rem;
    transition: transform 0.3s ease;
    border-radius: 90%;
    background-color: #3333337e;
    border: 1px solid #fff;
}

.offscreen-menu, .close:hover {
    color: var(--green1);
    cursor: pointer;
    transform: scale(1.2);
}


.dontShow {
    position: absolute;
    transition: transform 0.3s ease;
    padding: 2rem;
    bottom: 330px;
    right: auto;
    background-color: hwb(152 13% 56%);
    border-radius: 0.5rem;
    border: 1px solid #fff;
    
}

.dontShow:hover {
    cursor: pointer;
    background-color: hwb(128 0% 67%);
}

.dontShow:active {
    background-color: hwb(152 11% 33%);
}

.okay {
    cursor: pointer;
    background-color: hwb(152 13% 56%);
    padding: 1rem;
    margin-left: 25px;
    border: 1px solid #fff;
    border-radius: .5rem;
    font-size: 1.2rem;
}

.okay:hover {
    background-color: hwb(128 0% 67%);

}

.overlayLabelClass {
    color: white;
    font-size: 25px;
    display: relative;
    margin-left: 20px;
    width: 200px;
    height: 10px;
}