* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    color: rgb(156, 0, 0);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 2rem;
    font-size: 3rem;

}

.display {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 55px;
}

.buttons button {
    font-size: 1.5rem;
    padding: 1.5rem;
}