body {
    background-color: rgb(134, 200, 255);
    color: rgb(255, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    background: black;
    padding: 2rem;
    border-radius: .5rem;
    border: yellow 2px solid;
}